<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑会员</title>
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
</head>
<body style="padding:10px 10px;">
<!--刷下页面代码-->
<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon">&#xe669;</i></a>
<!--刷下页面代码-->
<a href="">首页</a>  >  <a href="{:url('index')}">会员管理</a>  >  编辑会员
<hr>

<div class="layui-container" style="margin-left:0px;">
    <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">-->
    <!--<legend>编辑会员&nbsp;</legend>-->
    <!--</fieldset>-->
    <form class="layui-form layui-form-pane" id="myform" method="post" action="">
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;padding: 30px 30px;">
            <legend>编辑会员</legend>

            <input type="hidden" name="id" value="{$users.id}">

            <div class="layui-form-item">
                <label class="layui-form-label">会员账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="mobile" value="{$users.mobile}" lay-verify="title"  autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" placeholder="默认留空则不修改密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" value="{$users.name}" lay-verify="title"  autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">代理商名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="agent" value="{$users.agent}" lay-verify="title"  autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注册IP</label>
                <div class="layui-input-inline">
                    <input type="text" name="ip" value="{$users.ip}" lay-verify="title"  autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="正常" {if condition="$users.status eq 1"}checked{/if}>
                    <input type="radio" name="status" value="0" title="异常" {if condition="$users.status eq 0"}checked{/if}>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="__ADMIN__/layui/jquery.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>

<script>
    layui.use(['element', 'form'], function(){
        var element = layui.element;

        element.on('tab(test)', function(data){
            console.log(this, data);
        });

        element.on('nav(test)', function(elem){
            console.log(elem)
        });

        element.on('collapse(test)', function(data){
            console.log(data);
        });
    });
</script>

</body>
</html>