<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员列表</title>
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
</head>

<body style="padding:10px 10px;">

<!--刷下页面代码-->
<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新">
    <i style="margin-top: 5px;" class="layui-icon">&#xe669;</i>
</a>
<!--刷下页面代码-->

<a href="">首页</a>  >  <a href="">管理员列表</a>
<hr>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend style="display: none;">
        <a class="layui-btn layui-btn-sm layui-btn-danger" href="{:url('leadingin')}" ><i class="layui-icon">&#xe681;</i></a>
        <a class="layui-btn layui-btn-normal layui-btn-sm " href="{:url('exportexecl')}"><i class="layui-icon">&#xe601;</i></a>
    </legend>
    <form class="layui-form layui-form-pane" action="" method="get" >
        <div class="layui-inline" style="float: left;height: 20px">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-inline" style="width:330px;">
                <input type="text" name="time_min" {if condition="$time_min"}value="{$time_min|date='Y/m/d H:i:s',###}"{else/}value="<?php echo date('Y/m/d H:i:s',time())?>"{/if} class="layui-input" id="time_min" style="float: left;width: 150px">
                <div class="layui-form-mid">-</div>

                <input type="text" name="time_max"  {if condition="$time_max"}value="{$time_max|date='Y/m/d H:i:s',###}"{else/}value="<?php echo date('Y/m/d H:i:s',time())?>"{/if} class="layui-input" id="time_max" style="float: left;width: 150px">
            </div>
            <button class="layui-btn">搜索</button>
        </div>
    </form>
    <form class="layui-form layui-form-pane" action="" method="get" >
        <div class="layui-inline" style="float: right;height: 20px">
            <label class="layui-form-label">搜索关键词</label>
            <div class="layui-input-inline">
                <input type="text" name="search" value="{$keyword}" placeholder="请输入会员账号" class="layui-input">
            </div>

            <button class="layui-btn">搜索</button>
        </div>
    </form>
</fieldset>



<form class="layui-form" action="{:url('alldel')}"  onsubmit="javascript:return confirm('您确认要执行批量删除操作吗？');" method="post">
    <table class="layui-table"  lay-filter="mytable">
        <colgroup>
            <!--<col width="30">-->
            <!--<col width="100">-->
            <!--<col width="60">-->
            <!--<col width="70">-->
            <!--<col>-->
            <!--<col>-->
            <!--<col>-->
            <!--<col>-->
            <!--<col>-->
            <!--<col>-->
        </colgroup>
        <thead>
        <tr>
            <!--<th style="text-align: center;">-->
                <!--<input type="checkbox" name="" lay-skin="primary" lay-filter="quanxuan">-->
            <!--</th>-->
            <!--<th>ID</th>-->
            <!--<th>客户手机号</th>-->
            <!--<th>客户姓名</th>-->
            <!--<th>注册时间</th>-->
            <!--<th>代理商名称</th>-->
            <!--&lt;!&ndash; <th>注册IP</th> &ndash;&gt;-->
            <!--<th>状态</th>-->
            <!--<th>操作</th>-->
            <th lay-data="{type:'checkbox', width:60}"></th>
            <th lay-data="{field:'id', width:100,sort: true}">ID</th>
            <th lay-data="{field:'mobile', width:120}">客户手机号</th>
            <th lay-data="{field:'name'}">客户姓名</th>
            <th lay-data="{field:'time', width:200}">注册时间</th>
            <th lay-data="{field:'ip', width:200,sort: true}">注册IP</th>
            <th lay-data="{field:'ip', width:200}">状态</th>
            <th lay-data="{field:'caozuo', width:300}">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="userRes" id="vo"}
        <tr>
            <td align="center">
                <input type="checkbox" name="id[]" value="{$vo.id}" class="qx" lay-skin="primary"  >
            </td>
            <td>{$vo.id}</td>
            <td>{$vo.mobile}</td>
            <td>{$vo.name}</td>
            <td>{$vo.time|date="Y/m/d H:i:s",###}</td>
           <!--  <td>{$vo.agent}</td> -->
            <td>{$vo.ip}</td>

            <td>{if condition="$vo.status eq 1"}正常{else /}异常{/if}</td>

            <td>
                <a href="{:url('edit',array('id'=>$vo['id']))}" class="layui-btn layui-btn-sm">
                    <i class="layui-icon">&#xe615;</i> 查看
                </a>
                <a href="{:url('del',array('id'=>$vo['id']))}" class="layui-btn layui-btn-danger layui-btn-sm del">
                    <i class="layui-icon">&#xe640;</i>删除
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <button type="submit" class="layui-btn layui-btn-danger layui-btn-sm" ><i class="layui-icon">&#xe640;</i>批量删除</button>
    <a class="layui-btn layui-btn-sm dels" href="{:url('deltableall')}" ><i class="layui-icon">&#xe640;</i>清空数据表</a>
    {if condition="$Think.session.admin_id eq 1"}
     <a class="layui-btn layui-btn-sm layui-btn-danger" href="{:url('leadingin')}" ><i class="layui-icon">&#xe681;</i></a>
        <a class="layui-btn layui-btn-normal layui-btn-sm " href="{:url('exportexecl')}"><i class="layui-icon">&#xe601;</i></a>
    {/if}
</form>
<!--<a class="layui-btn layui-btn-sm" href="{:url('deltableall')}" ><i class="layui-icon">&#xe640;</i>清空数据表</a>-->



<div style="text-align: right; margin-top: 10px; ">

</div>


<div></div>
<script src="__ADMIN__/layui/jquery.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>

<script>
    layui.use(['element', 'form'], function(){
        var element = layui.element;
        var form = layui.form;

        $('.dels').on('click',function () {
            var url=$(this).attr('href');
            layer.confirm('确定要执行清空表全部记录吗?请慎重!', {icon: 3, title:'温馨提示'}, function(index){
                //do something
                location.href=url;
                layer.close(index);
            });
            return false;
        })
    form.on('checkbox(quanxuan)', function(data){
        if(data.elem.checked){
            $('.qx').prop('checked',true);
            form.render();
        }else {
            $('.qx').prop('checked',false);
            form.render();
        }
    });

    });
</script>
<script>
    var table;
    layui.use('table', function(){
        table= layui.table;
        var counts="<?php echo count($userRes);?>";
        //转换静态表格
        table.init('mytable', {
            id:"mytable"
            ,height: 415
            ,limit: 1
            ,limits:[5,10,15,20,30,50,70,80,90,100,500,1000,5000,10000]
            ,page:{
                count:counts,
                limit:2
            }
        });
    });
</script>

<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#time_min' //指定元素
            ,type: 'datetime'
            ,format: 'yyyy/MM/dd HH:mm:ss' //可任意组合
        });
        laydate.render({
            elem: '#time_max' //指定元素
            ,type: 'datetime'
            ,format: 'yyyy/MM/dd HH:mm:ss' //可任意组合
        });
    });
</script>

<!--lay删除提示-->
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        $('.del').on('click',function () {
            var url=$(this).attr('href');
            layer.confirm('确定要删除该记录吗?', {icon: 3, title:'温馨提示'}, function(index){
                //do something
                location.href=url;
                layer.close(index);
            });
            return false;
        })
    });
    $(function(){
        $(window.parent.document).find('#righttitle').text($('title').text());
    });
</script>


</body>
</html>