<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页2</title>
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body class="body" style="padding:0 10px;">

<fieldset class="layui-elem-field site-demo-button">
    <legend>天气情况</legend>
    <div style="text-align:center">
        <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=11" width="500" height="25" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" ></iframe>
    </div>
</fieldset>


<div class="layui-container" style="margin-left:0px;">
    <form class="layui-form" action="" id="myform" onsubmit="return checkform();">
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;padding: 30px 30px;">
            <legend>缩短网址</legend>
            <div class="layui-form-item">
                <label class="layui-form-label">http://</label>
                <div class="layui-inline" style="width:70%">
                    <input class="layui-input" name="domain" required placeholder="请输入要简化的域名(请勿输入http://)">
                </div>
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="float: right"><i class="layui-icon">&#xe672;</i>转换</button>
                <div id="domain">
                    <!--<blockquote class="layui-elem-quote site-text" style="color: red;font-weight: bold">-->
                       <!--1411-->
                    <!--</blockquote>-->
                </div>
            </div>

        </fieldset>
    </form>
</div>

<table class="layui-table">
    <thead>
    <tr>
        <th colspan="2" scope="col">服务器信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th width="30%">服务器IP</th>
        <td><span id="lbServerName">http://127.0.0.1/</span></td>
    </tr>
    <tr>
        <td width="40%">服务器域名</td>
        <td width="60%">{$server['HTTP_HOST']}</td>
    </tr>
    <tr>
        <td>运行环境</td>
        <td>{$server['SERVER_SOFTWARE']}</td>
    </tr>
    <tr>
        <td>服务器操作系统</td>
        <td>{$server['osname']}</td>
    </tr>
    <tr>
        <td>服务器端口</td>
        <td>{$server['SERVER_PORT']}</td>
    </tr>
    <tr>
        <td>服务器主机名</td>
        <td>{$server['SERVER_NAME']}</td>
    </tr>

    </tbody>
</table>
<table class="layui-table">
    <thead>
    <tr>
        <th colspan="2" scope="col">数据库信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="40%">数据库版本</td>
        <td width="60%">{$server['mysqlversion']}</td>
    </tr>
    <tr>
        <td>数据库名称</td>
        <td>{$server['databasename']}</td>
    </tr>
    </tbody>
</table>
<table class="layui-table">
    <thead>
    <tr>
        <th colspan="2" scope="col">PHP相关参数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="40%">PHP版本</td>
        <td width="60%">{$server['phpversion']}</td>
    </tr>
    <!--<tr>-->
    <!--<td width="40%">框架版本</td>-->
    <!--<td width="60%">ThinkPHP <?php echo THINK_VERSION ;?></td>-->
    <!--&lt;!&ndash;<td width="60%">Laravel 5.6</td>&ndash;&gt;-->
    <!--</tr>-->
    <tr>
        <td>上传文件最大限制</td>
        <td>{$server['maxupload']}</td>
    </tr>
    </tbody>
</table>

<script src="__ADMIN__/layui/jquery.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.use(['element', 'form'], function(){
        var element = layui.element;
        var form = layui.form;
    });
</script>

<!--Ajax异步修改-->
<script>
    //表单前端验证
    function checkform() {
        var formdata=$('#myform').serialize();
        //alert(formdata)
        //Ajax异步提交
        $.ajax({
            type:"POST",
            url:"{:url('domain')}",
            dataType:"json",
            data:formdata,
            success:function (data) {
                //alert(666)
                if(data.code==0){
                    var str;
                    str = '<blockquote class="layui-elem-quote site-text" style="color: red;font-weight: bold">';
                    str = str +  data.short_url ;
                    str = str + '</blockquote>';

                    $('#domain').append(str);

                }else {
                    //alert('失败');
                    layer.msg(data.msg)
                }
            }
        })
        //阻止表单提交
        return false;
    }
</script>

</body>
</html>